*{
    margin: 0;
}

.box {
    background-color:rgb(138, 230, 108);
    width: 400px;
    height: 300px;
    margin: 100px auto;
    border-radius: 10px;    
}

.box-body {
    padding: 38px;
}

.box-body h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}

.box-body p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px 0px;
    font-weight: 400;
}

.box-body button {
    margin: 30px 0px;
    border-radius: 10px;
    height: 40px;
    width: 170px;
    border: none;
    font-size: medium;
}

