/* Comment Example */

* {
    margin: 0;
}

body {
    font-family: monospace;
}

h1 {
    text-align: center;
    font-family:'Courier New', Courier, monospace;
}

#left-container{
    position: fixed;
}