*{
    margin: 0;
}

#container {
    margin: 100px auto;
    height: 380px;
    width: 400px;
    border: 0.25px solid black;
    border-radius: 20px;
}

#profile-container {
    padding: 20px;
}

#profile-container h1 {
    margin: 20px 0px;
    font-family: monospace;
}

#profile-container p {
    margin: 20px 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#image-container {
    margin: 20px 0px;
    display: flex;
    justify-content: space-around;
}

#image-container img {
    height: 90px;
    width: 90px;
    border-radius: 50%;
}

#profile-link-container {
    border-top: 0.25px solid black;
    margin: 35px 0px;
    padding: 20px;
}

#profile-link-container a {
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    text-decoration: none;
}

